<h1>Edit Password</h1>

<div style="margin: 30px;">
  <%= form_with url:user_edit_password_path(@user), method: :patch do |form| %>
    <div class="mb-3 form-group">
      <%=form.label :current_password, class: "form-label fs-5" %>
      <%=form.password_field :password, class: "form-control"%>
    </div>
    <div>
      <%=form.label :new_password, class: "form-label fs-5" %>
      <%=form.password_field :new_password, class: "form-control"%>
    </div>
    <br>
    <div>
      <%=form.label :new_password_confirmation, class: "form-label fs-5" %>
      <%=form.password_field :new_password_confirmation, class: "form-control" %>
    </div>
    <br>
    <%= form.submit "Update Password", class: "btn btn-outline-primary"%>
  <% end %>
</div>