<div class="showPage">
<p>
  <h1><%= @post.title %></h1>
</p>

<p>
  <%= @post.body%>
</p>

<small>Created by: <%=@post.user.name%></small>

<p>
  <small>Posted <%= time_ago_in_words(@post.created_at)%> ago </small>
</p>

<% if can?(:crud, @post) %>
  <div style="margin-bottom: 50px">
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-outline-primary"%>
    <%= link_to "Delete", post_path(@post), method: :delete, data:{confirm: "Are you sure you want to delete?"}, class: "btn btn-outline-primary"%>
  </div>
<% end %>


<%= form_with(model: [@post, @comment]) do |form| %>
  <div>
    <h3><%= form.label :body, "Comment"%> </h3>
    <%= form.text_area :body, placeholder: "What's on your mind?", cols: 100, rows: 5, class: "form-control"%>
  </div>
  <br>
    <%= form.submit "Submit", class: "btn btn-outline-primary"%>
<% end %>


<div style="margin-top: 50px;">
  <% @comments.each do |comment|%>
    <div  style="margin-bottom: 10px;">
      <%= comment.body %> <br>
      <small>Created by: <%=comment.user.name%></small>
      ∙
      <small> Commented <%= time_ago_in_words(comment.created_at)%> ago </small>
      ∙
      <% if can?(:crud, comment)%>
      <small><%= link_to "Delete", post_comment_path(@post, comment), method: :delete, data:{confirm: "Are you sure you want to delete this comment?"}%> </small>
      <% end %>
    </div>

  <% end %>

</div>

</div>


