<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="navBar d-flex flex-row justify-content-between align-items-center sticky-top">
      <nav class="nav justify-content-start"">
        <a class="navbar-brand h1 nav-link active fs-2" aria-current="page" href="#">Blog On Rails</a>
      </nav>
  
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <%=link_to "Home", posts_path, class: "nav-link active", ariaCurrent: "page"%>
          </li>
          <li class="nav-item">
            <%=link_to "New Post", new_post_path, class: "nav-link"%>
          </li>

          <% if user_signed_in? %>
            <li class="nav-item">
              <p class="nav-link"><%= link_to "Hello #{current_user.name}", edit_user_path(current_user) %></p>    
            </li>          
            <li class="nav-item">
              <%=link_to "Sign Out", session_path, method: :delete,  class: "nav-link"%>
            </li>          
          <% else %>
            <li class="nav-item">
              <%=link_to "Sign Up", new_user_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%=link_to "Sign In", new_session_path, class: "nav-link"%>
            </li>
          <% end %>
        </ul>
    </div>


    <%= flash[:notice] || flash[:alert] %>

    <%= yield %>
  </body>
</html>
